:root {
  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);
  --white: hsl(0, 0%, 100%);

  --lightest-blue: hsl(202, 86%, 94%);
  --light-blue: hsl(203, 41%, 72%);
  --medium-blue: hsl(200, 26%, 54%);
  --dark-blue: hsl(200, 24%, 40%);
  --darkest-blue: hsl(202, 55%, 16%);
}